POSTGRES_USER={{ web_env.POSTGRES_USER }}
POSTGRES_PASSWORD={{ web_env.POSTGRES_PASSWORD }}
POSTGRES_DB={{ web_env.POSTGRES_DB }}
DATABASE_URL={{ web_env.DATABASE_URL }}
JWT_SECRET={{ web_env.JWT_SECRET }}

NEXT_PUBLIC_GOOGLE_CLIENT_ID={{ web_env.NEXT_PUBLIC_GOOGLE_CLIENT_ID }}
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET={{ web_env.NEXT_PUBLIC_GOOGLE_CLIENT_SECRET }}
NEXT_PUBLIC_GOOGLE_REDIRECT_URI={{ web_env.NEXT_PUBLIC_GOOGLE_REDIRECT_URI }}